
body {
  background: url('mountain_cropped.jpg') no-repeat center;
  background-size: cover;
  min-height: 500px;
}

.wrapper {
  background-color: rgba(250, 250, 250, .8);
  border: 1px solid grey;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
}

a {
  color: #333;
  font-size: 1.5em;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.wrapper:hover {
  background-color: rgba(200, 200, 200, .8);
}

.wrapper:hover a {
  color: #FFF;
}

.title-button {
  display: block;
  min-width: 120px;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  margin: 0 auto;
}

