<h1 class="text-center">Welcome to the Task Manager</h1>

<div class="wrapper text-center">
  <a href="/tasks" class="title-button">All Tasks</a>
</div>
<div class="wrapper text-center">
  <a href="/tasks/new" class="title-button">New Task</a>
</div>
