<h1 class="text-center">Welcome to the Task Manager</h1>

<div class="row dashboard-buttons">
  <div class="col-md-6"><a href="/tasks" class="btn btn-primary btn-lg">Task Index</a></div>
  <div class="col-md-6"><a href="/tasks/new" class="btn btn-primary btn-lg">New Task</a></div>
</div>
