<h1>All Tasks</h1>

<div class="wrapper">
  <% @tasks.each do |task| %>
    <div class="task">
      <h3>
        <a href="/tasks/<%= task.id %>">
          <%= task.title %>
        </a>
      </h3>
      <a href="/tasks/<%= task.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <form action="/tasks/<%= task.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" value="Delete" class="btn btn-danger" />
      </form>
      <div>
      <% end %>
      </div>
