<form action="/tasks" method="post">
  <p>Enter a new task:</p>
  <div class="form-group">
    <input type='text' class="form-control" id="tasktitle" name='task[title]' placeholder="Title"/>
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="3" name='task[description]' placeholder="Description"></textarea><br/>
  </div>


  <input class="btn btn-primary" type='submit'/>
</form>
